.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

table, td, th{
    border: 1px solid;
}

.container-col {
    display: flex;
    flex-direction: column;
}

.inner-container-row {
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
}

.inner-container {
    width: 32%;
    /*height: 300px;*/
    padding-bottom: 10px;
}



.container-table {
    display: flex;
    justify-content: space-between;
}

.container-row{
    width: 30%;
    height: 100px;
}

.container-col {
    display: flex;
    flex-direction: column;
}
